---
import Stars2 from "./Stars2.astro";
---

<h1
  class="flex items-center text-5xl mt-8 md:mt-12 mb-12 font-medium text-[var(--color-primary)]"
>
  <!-- <span class="inline-flex items-center h-[1em] w-[1em] mr-4 align-middle">
    <Stars2 class="h-full w-full" />
  </span> -->
  <span
    class="xl:text-8xl text-6xl font-bold px-0 bg-gradient-to-r from-violet-700 via-blue-500 to-green-400 text-transparent bg-clip-text max-w-4xl overflow-visible animate-gradient"
  >
    Design + Creativity
  </span>
</h1>
